@import '../../../../assets/styles/font-face.scss';
@import '../../../../assets/styles/globals.scss';
@import '../../../../assets/styles/mixins.scss';

.login-form {
	@include flexColumnCenter;
	@include padding-container;
	height: 100%;
	background-color: #3146E6;
	gap: 16px;
	font-family: 'Mulish', sans-serif;
	color: #F6E7E4;

	.form-controls {
		@include flexColumnCenter;
		gap: 8px;
		width: 100%;

		.form-control {
			width: 100%;
			height: 48px;
			border-radius: 8px;
			font-family: 'Mulish', sans-serif;
			border: 1px solid #010735;

			&.password {
				display: flex;
				align-items: center;
				background-color: #FFF;

				&__input {
					border: none;
				}

				&__icon-visibility {
					background-color: transparent;
					background-size: contain;
					width: 16px;
					height: 16px;
					border: none;

					&.visibility-on {
						background-image: url('../../../../assets/images/visibility-off.png');
					}

					&.visibility-off {
						background-image: url('../../../../assets/images/visibility-on.png');
					}
				}
			}
		}

	}
	.form-button {
		background-color: #F6E7E4;
		height: 48px;
		padding: auto;
		border: none;
		border-radius: 8px;
		font-family: 'Mulish', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color: #010735;
	}
}