<section class="login-form">
	<h2>Login</h2>
	<form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form-controls">
		<input class="form-control" formControlName="username" type="text" placeholder="Usuário">
		<div class="form-control password">
			<input class="form-control password__input" id="formPassword" formControlName="password" type="password" placeholder="Senha">
			<div class="form-control password__icon-visibility" [ngClass]="isPasswordVisibilityOn ? 'visibility-on' : 'visibility-off'" (click)="changeVisibility('formPassword')"></div>
		</div>
	</form>
	<span *ngIf="formInvalido">Form inválido</span>
	<button class="form-button" type="submit" (click)="submitForm()">Fazer login</button>
</section>