@import '../../../assets/styles/font-face.scss';
@import '../../../assets/styles/globals.scss';

.login-container {
	height: 592px;
	background-color: #3146E6;
	padding: 6.66666667vw; // 24px
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;

	&__text {
		font-family: 'Mulish', sans-serif;
		color: #F6E7E4;
	}

	&__buttons {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.login-container__button {
			background-color: #F6E7E4;
			height: 48px;
			border: none;
			border-radius: 8px;
			font-family: 'Mulish', sans-serif;
			font-size: 16px;
			font-weight: 700;
			color: #010735;
		}
	}

	.text-small {
		font-size: 14px;
	}

	.text-regular {
		font-size: 16px;
	}

}
