<header class="header">
    <nav class="navbar">
      <button class="navbar-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul [class.open]="isMenuOpen">
        <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/appointments" (click)="closeMenu()">Meus agendamentos</a></li>
        <li><a routerLink="/categories" (click)="closeMenu()">Categorias</a></li>
        <li><a (click)="openProfileModal(); closeMenu()">Perfil</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <!-- Conteúdo do modal -->
      <h2>Perfil</h2>
      <!-- Outros elementos do perfil -->
      <button class="modal-close" (click)="closeProfileModal()">Fechar</button>
    </div>
  </div>
  