@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Mulish', sans-serif;
}

p, input, h1, h2, h3 {
	margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 2.53164557vw; // 20px
    line-height: 4.05063291vw; // 32px
	margin-bottom: 2.53164557vw; // 20px
}

h3 {
    font-weight: 400;
	font-size: 2.02531646vw; // 16px
    line-height: 3.5443038vw; // 28px
}

html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
